.learning-path-card{
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
}

.course-card{
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
}

.test-card{
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
}