.m-a-md{
    margin: 50px;
}
.m-b-md{
    margin-bottom: 50px;    
}
.m-b-sm{
    margin-bottom: 25px;
}
.m-b-xs{
    margin-bottom: 12px;
}
.m-t-md{
    margin-top: 50px;
}
.m-r-sm{
    margin-right: 25px;
}
.m-r-xs{
    margin-right: 12px;
}
.p-b-sm{
    padding-bottom: 25px;
}
.p-r{
    position: relative;
}

.navbar{
    height: 70px;
    background-color: #1b1b1b !important;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 
                0px 4px 5px 0px rgba(0,0,0,0.14), 
                0px 1px 10px 0px rgba(0,0,0,0.12);

    z-index: 99999;
}
.navbar li {
    margin-right: 15px;
}
.navbar li a{
    padding: 10px 15px;
    display: block;
}

.navbar-auth{
    position: absolute;
    right: 0;
}


.main-wrapper{
    margin-left: 80px;
    margin-top: 70px;
    background: #999;
    height: 100%;
    /* padding: 50px; */
}


/* SEARCH BAR */

.search-bar{
    position: relative;
}


.search-bar input {
    transition:.3s;
    background-color: lighten(#6c6c6e, 5%);
    color: #fff;
    display: block;
    width: 150%;
    color: #333333;
    background-color: #d1d1d1;
    background-clip: padding-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 30px;
    margin-top: 20px;
    font-size: 12px;
    transition: .3s;
    padding: 3px;
    padding-left: 50px;
}

.search-bar svg {
    position: absolute;
    top: 27px;
    left: 15px;
    /* color: #999; */
}
.search-bar .search-icon svg {
    color: rgba(#fff, 0.8);
}

.search-bar input:focus {
    background-color: #ffff;
    color: #333333;
    outline: none;
}
.search-bar input:focus .search-icon svg {
    color: rgba(#f4f4ff, 0.8);
}





.navbar-logged-in{
    position: absolute;
    right: 0;
}

.navbar-logged-in li{
    margin-right: 0;
}

.navbar-logged-in li a{
    color: #fff;
    padding: 10px 12px;
    margin-top: 13px;
}

.navbar-logged-in li a svg{
    /* font-size: 18px; */
}



/* ===========================Side Menu Bar ======================== */

.menu-bar{
  background-color: #1b1b1b;
  position: relative;
  left: 0;
  top: 0;
  overflow-y: scroll;
  z-index: 99999;
}

.menu-bar ul{
  position: fixed;
  left: 0;
  top: 70px;
  height: 100%;
  padding: 0;
  overflow: auto;
  background-color: #1b1b1b;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);  
}

.menu-bar ul li{
  list-style: none;
  width: 80px;
  height: 80px;
  background-color: #1b1b1b;
  border-bottom: 1px solid #180f1b;
  text-align: center;
  font-size: 11px;
}

.menu-bar ul li:last-child{
  border-bottom: none;
}

.menu-bar ul li a{
  display: grid;
  padding: 18px 5px;
  color: #ddd;
  transition: .3s;
}

.menu-bar ul li a svg{
    margin-left: 25px;
    font-size: 18px;
    margin-bottom: 9px;
}

.menu-bar ul li a:hover,
.menu-bar ul li a:active{
  background-color: #180f1b;
  color: #ddd;
  text-decoration: none;
}

.menu-bar ul li a i{
  font-size: 18px;
  color: #ddd;
  margin-bottom: 8px;
}


/* ============ PROFILE MENU ==================== */

.bm-overlay{
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7) !important;
}

.bm-item-list{
    left: -100px !important;
    top: -47px !important;
}

.profile-menu{
    background-color: #861f1d;
    height: 100%;
    overflow: auto;
    padding: 50px;
    text-align: center;
}

.profile-wrapper{}

.profile-wrapper .profile-image{
    overflow: hidden;
}
.profile-wrapper .profile-image img{
    border-radius: 50%;
}
.profile-wrapper a{}
.profile-wrapper a:hover{
    text-decoration: none;
}

.profile-menu ul{
    padding: 0;
    margin-top: -180px;
}

.profile-menu ul li{
    list-style: none;
}

.profile-menu ul li a{

}

.profile-menu ul li a:hover{
    text-decoration: none;
}

.bm-burger-button button{
    left: auto !important;
    right: 0 !important;
    width: 40px !important;
}

.bm-burger-button button:focus{
    outline: none;
}

.bm-burger-bars{
    top: -20% !important;
}


/* ====================Dropdown========================= */

.icon-menu{
    height: 70px;
}

.icon-menu button{
    background: transparent !important;
    border: none !important;
    margin-top: 15px;
}

.icon-menu button:hover{
    color: #fff;
}

.icon-menu button:focus{
    outline: none !important;
}


.dropdown-wrapper{
    /* position: relative; */
}

.dropdown-menu{
    top: 67px !important;
    left: auto !important;
    width: 300px !important;
    transform: none !important;
    margin: 0 !important;
    box-shadow: 0 0 3px 0 rgba(0,4,0,.5);
    border: none !important;
}

.dropdown-menu.show{
    right: 0 !important;
}

.dropdown-menu .dropdown-header {
    padding: 12px 25px;
    margin-bottom: 0;
    font-size: 14px;
    color: #ffffff;
    white-space: nowrap;
    background-color: #1c1c1c;
    margin-top: -8px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, .5);
    text-align: center;
}

.sa-content{
    padding: 0;
}
.sa-content li{
    list-style: none;
    border-bottom: 1px solid #ddd;
    margin-top: -13px;
    box-shadow: 0 0 3px 0 rgba(0,4,0,.5);
}
.sa-content li a{
    display: block;
    padding: 15px 25px;
    color: #180f1b;
    transition: .3s;
}

.sa-content li a:hover{
    background-color: #861f1d;
    color: #e4e4e4 !important;
    cursor: pointer;    
}

.sa-content li a img{
    float: left;
    margin-right: 15px;
}




/* =============================PEOPLE=============================== */

.top-banner{
    background-color: #180f1b;
    height: 280px;
    width: 100%;
    left: 80px;
    display: table;
    text-align: center;
    color: #861f1d;
    padding: 50px 0;
}

.top-banner .content{
    display: table-cell;
    vertical-align: middle;
    padding: 0 150px;
}

.top-banner .content p{
    color: rgb(100, 100, 100);
}

.list-wrapper{
    
}

.filter-wrapper{
    padding: 25px 50px;
    background-color: #e3e3e3;
    position: absolute;
    left: 15px;
    top: 0;    
    z-index: 999;
    width: 100%;
    height: 100%;
}

.filter-wrapper label{
    font-size: 14px !important;
}

.people-card-wrapper{
    padding: 25px;
}

.occupation-filter{
    margin: 25px 0;
    padding: 15px;
    border: 1px solid #ccc;
    height: 350px;
    overflow: auto;
}

/* ==============People Card====================== */

.people-list, .people-details{
    max-width: 98%;
}

.people-card{
    border: 1px solid #ddd;
    text-align: center;
    background-color: #861f1d;
    box-shadow: 0 4px 2px 0 #222;
    border-radius: 15px;
}

.people-card .content{
    padding: 15px;
}

.people-card .avatar{
    border-radius: 50%;
    margin-bottom: 15px;
}

.people-card .avatar img{
    width: 50%;
    border-radius: 50%;    
}

.people-card .user-info{
    color: #111;
}

.people-card .user-info a:hover{
    text-decoration: none;
}
.people-card .user-info .name{
    color: #ddd;
}

.people-card .user-info .occupation{
    color: rgb(187, 187, 187);
}

.people-card .user-info .location{
    margin-top: -10px;
    font-size: 11px;
    color: #999;
}

.people-card .bio{
    color: #777;
}

.people-card .skills{
    display: none;
}

.people-card .skills ul{
    padding: 0;
}

.people-card .skills ul li{
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    background-color: #ddd;
    border-radius: 5px;
    padding: 2px 5px;
    margin-bottom: 5px;
}

.people-card .sample-works{
    padding: 0;
    border-top: 1px solid #ddd;
}

.people-card .sample-works ul{
    padding: 5px 0;
    margin: 0;
}

.people-card .sample-works ul li{
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    width: 30%;
}

.people-card .sample-works ul li img{
    width: 100%;
}

.people-card .button-group{
    border-top: 1px solid #333;
    text-align: center;
    padding: 15px;
}
.people-card .button-group ul{
    padding: 0;
    margin: 0;
}
.people-card .button-group ul li{
    display: inline-block;
    margin-right: 15px;
}

.people-card .button-group ul li button{
    max-width: 80px;
    max-height: 34px;
    font-size: 14px;
}

.people-details .profile-header{
    position: relative;
    height: 320px;
    overflow: hidden;
    padding-top: 50px;
    text-align: center;
}

.people-details .header-image{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;        
    z-index: -1;
}

.people-details .profile-card{
    width: 400px;
    margin: 0 auto;
    margin-top: 35px;
}

.people-details .profile-image{
    overflow: hidden;
    margin-bottom: 25px;
}


.people-details .nameNbuttons{
    text-align: center;
}

.people-details .nameNbuttons .name{
    color: #ddd;
}

.people-details .nameNbuttons .name p{
    margin: 0;
    color: #999;
}

.people-details .nameNbuttons .buttons{
    margin: 25px 0;
}

.people-details .profile-image{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-right: 25px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #fff;
    float: left;
}
.people-details .profile-image img{
    border-radius: 50%;
}
.people-details .people-passport{
    padding: 25px;
    margin: 0;
    float: left;
    width: 40%;
    background-color: #f4f4f4;
}

.people-details .people-hall {
    width: 60%;
    float: right;
}

ul.secondary-tab{
    padding: 0;
    margin: 0;
    display: table;
    width: 100%;
    text-align: center;
    border: 1px solid #ddd;
    margin-bottom: 25px;
}

ul.secondary-tab li{
    display: table-cell;
    border-right: 1px solid #ddd;
}

ul.secondary-tab li:last-child{
    border-right: none;
}

ul.secondary-tab li a{
    padding: 10px 15px;
    display: block;
    transition: .5s;
}

ul.secondary-tab li a:hover{
    background-color: #861f1d;
    color: #ddd;
    text-decoration: none;
}

.people-details .top-banner{
    width: 102%;
}

.people-details-b{
    width: 102%;
}
